<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.organizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/New"
        android:versionCode="7">
        <activity android:name=".MainActivity" />
        <activity android:name=".reminders" />
        <activity android:name=".create" />
        <activity android:name=".reminders5" />
        <activity android:name=".reminders4" />
        <activity android:name=".sub4" />
        <activity android:name=".sub5" />
        <activity android:name=".sub6" />
        <activity android:name=".home" />
        <activity android:name=".attendance" />
        <activity android:name=".attendance5" />
        <activity android:name=".attendance4" />
        <activity android:name=".admin" />
        <activity android:name=".profile" />
        <activity android:name=".intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>